__pycache__/
.idea/
riscv_characterization/repo_changes/dory-mod/*.patch
riscv_characterization/repo_changes/*/*.patch
*.pth
neural_networks/models/*
!neural_networks/adapt/cpu-kernels-8x8/axx_mults_8x8/.gitkeep
!neural_networks/adapt/cpu-kernels-9x9/axx_mults_9x9/.gitkeep
backup/
tmp.txt
resnet8_a8_w8_b32_fake_quant_cifar10_ReLU_bw_mult_9_9_*.pkl
resnet8_a8_w8_b32_fake_quant_cifar10_ReLU_weights.pkl
data/cifar-10-python.tar.gz
data/dataset/
approximate_multiplier
read_pth.py
biases.txt
resnet_biases.txt
weights.txt
resnet_weights.txt
conv_inputs.txt
gemmini_biases.txt
gemmini_inputs.txt
gemmini_outputs.txt
gemmini_weights.txt
read_inputs.py
read_results.py
read_scaling_factors.py
read_weights.py
golden_model_no_appr/*
verified_outputs/*
labels.txt
gemmini_labels.txt
conv_output_mat.txt
conv_outputs.txt
adversarial/adv_data/*
neural_networks/adapt/cpu-kernels-9x9/axx_mults_9x9/*
neural_networks/adapt/cpu-kernels-8x8/axx_mults_8x8/*
data/cifar-10-batches-py/
data/cifar-100-python/
data/dataset/
data/cifar-100-python.tar.gz
alexnet_params.txt
alexnet_params.h
alexnet_w_b.h
alexnet_conv_inputs.txt
alexnet_conv_output_mat.txt
alexnet_conv_outputs.txt
images.txt
images.h
matrix.txt
populate_alexnet.py
neural_networks/simple/
read_pth.py
read_scaling_factors.py
read_weights
*.pkl
wandb/